.header {
    position: absolute;
    width: 100%;
    padding-top: rem(12px);
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper{
    margin-left: rem(15px);
}