.promo {
   height: 100vh;
    background-image: url("../img/bg/main.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;
  }

  .promo__container {
    height: 100%;
    display: flex;
  }
  
  .promo__content {
    display: flex;
    align-items: center;
  }

  .promo__title {
    margin-left: 11px;
    margin-top: 75px;
  }

  .promo__subtitle {
    @include lifehack();
    margin-top: 29px;
    font-size: 62px;
    color: $white;
    line-height: 1;
  }
  
  .promo__scroll-btn {
      width: 29px;
      height: 14px;
      background-image: url(/img/section/arrow-scroll.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }